<div class="container mx-auto mt-10">
  <button
    class="bg-green-500 text-white px-4 py-2 mt-4 rounded"
    [routerLink]="['/customer-add']"
  >
    Add Customer
  </button>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead>
        <tr>
          <th class="w-1/6 py-2">Customer Number</th>
          <th class="w-1/3 py-2">Customer Name</th>
          <th class="w-1/3 py-2">Date of Birth</th>
          <th class="w-1/6 py-2">Gender</th>
          <th class="w-1/6 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers" class="text-center border-b">
          <td class="py-2">{{ customer.number }}</td>
          <td class="py-2">{{ customer.name }}</td>
          <td class="py-2">{{ customer.dateOfBirth | date }}</td>
          <td class="py-2">{{ customer.gender }}</td>
          <td class="py-2">
            <button
              class="bg-blue-500 text-white px-4 py-2 rounded"
              [routerLink]="['/customer-edit', customer.id]"
            >
              Edit
            </button>
            <button
              class="bg-red-500 text-white px-4 py-2 rounded"
              (click)="deleteCustomer(customer.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
